@import 'palette';

.app-bar .logo{
  color: $color1 !important;
}

//CARDS
#deleteIcon {
  margin-left: 98%;
  opacity: 0.5;
}

#currentSet {
  height: 30px;
  margin-top: 0px;
  margin-left: 85%;
}

#md-card {
  //border: black;
}

.bottomRow {
  margin-bottom: 13px;
}

//.addSongContainer {
//  background-color: slategray;
//}

#savebtn {
  margin-top: 20px;
  margin-left: 90%;
}


h2 {
  margin-top: 0px !important;
  padding-top: 0 !important;
}


#progDisplay{
  word-spacing: 10px;
}

