<h1>Add A Song</h1>

<div ng-controller="SongCtrl">
  <form  ng-submit="save(newSong,parts)" >

      <div class="form-group">
          <label for="songTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-10">
              <input type="text" ng-model="newSong.name" class="form-control" id="songTitle" placeholder="Title">
      </div>
          </div>

      <div class="form-group">
          <label for="songBpm" class="col-lg-2 control-label">BPM</label>
          <div class="col-lg-10">
              <input type="text" ng-model="newSong.bpm" class="form-control" id="songBpm" placeholder="BPM">
          </div>
      </div>

      <div class="form-group">
          <label for="timeSig" class="col-lg-2 control-label">Time Signature</label>
          <div class="col-lg-10">
              <select ng-model="newSong.timeSig" class="form-control" id="timeSig">
                  <option>4/4</option>
                  <option>3/4</option>
                  <option>6/8</option>
                  <option>12/8</option>
              </select>

              </div>
          </div>

      <div class="form-group">
          <label for="keyRoot" class="col-lg-2 control-label">Key Signature</label>
          <div class="col-lg-4">
              <select ng-model="newSong.keyRoot" class="form-control" id="keyRoot">
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>A</option>
                  <option>B</option>
              </select>
          </div>

          <div class="col-lg-3">
              <select ng-model="newSong.keySign" class="form-control" id="keySign">
                  <option></option>
                  <option>&#9839</option>
                  <option>&#9837</option>
              </select>
          </div>

          <div class="col-lg-3">
              <select  ng-model="newSong.keyMaj" class="form-control" id="keyMaj">
                  <option>Major</option>
                  <option>Minor</option>
              </select>
          </div>
      </div>




      <h1 id="addSongStructure">Structure</h1>

    <div id="enterParts" ng-repeat="part in parts">
            <div class="form-group">
                <label for="section" class="col-lg-2 control-label">Section</label>
                <div class="col-lg-4">
                    <input type="text" ng-model="part.section" class="form-control" id="section" placeholder="Section">
                </div>

                <label for="measures" class="col-lg-2 control-label">Measures</label>
                <div class="col-lg-4">
                    <input type="number" ng-model="part.measures" class="form-control" id="measures" placeholder="Measures">
                </div>
            </div>

        <div class="form-group">
            <label for="progression" class="col-lg-2 control-label">Progression</label>
            <div class="col-lg-4">
                <input type="text" ng-model="part.progression" class="form-control" id="progression" placeholder="Progression">
            </div>

            <label for="notes" class="col-lg-2 control-label">Notes</label>
            <div class="col-lg-4">
                <input type="text" ng-model="part.note" class="form-control" id="notes" placeholder="Notes">
            </div>


            <img src="images/add.png" height=25px ng-click="addFields(parts)" ng-if="$last"/>
            <img src="images/minus.png" height=25px ng-click="minusFields(parts)" ng-if="$last"/> <br>

        </div>
  </div>

  </form>
    <button id="savebtn" class="btn btn-default" type="submit" value="Save" />Save
</div>


