<h1>Song Library</h1>
<div ng-controller="SongCtrl">
   <div ng-repeat="song in songs | orderBy:'title'">


            <md-content>

                <md-card class="shadowCard" >
                    <div class="row">

                        <div class="col-lg-4"><img  id="currentSet" src="images/currentset.png" ng-show="{{song.currentSet}}"></div>
                        <div class="col-lg-4"><h2 ng-click="isCollapsed = !isCollapsed">{{song.name}}</h2></div>
                        <div class="col-lg-4"><img id="deleteIcon"  src="images/delete.png" ng-click="remove($index)" height="20px"></div>

                    </div>   <!--What you'll see when card is collapsed, and at top of each card. -->

                    <md-card-content  collapse="isCollapsed" >
                        <em>Key of <strong>{{song.key}}</strong></em>
                        <br>{{song.bpm}} BPM, {{song.timeSig}} <br>



                        <div class="table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Section</th>
                                    <th>Measures</th>
                                    <th>Progression</th>
                                    <th>Notes</th>

                                </tr>
                                </thead>
                                <tbody class="table-striped">
                                <tr ng-repeat="part in song.parts" >
                                    <td>{{part.section}}</td>
                                    <td>{{part.measures}}</td>
                                    <td id="progDisplay">{{part.progression}}</td>
                                    <td>{{part.note}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </md-card-content>
                </md-card>
            </md-content>
    </div>

</div>



