@import 'palette2';
@import "bootswatch-simplex";
@import "variables";
@import "bootstrap.custom.less";
@import "main.less";

.RoundBorders(@radius){
  border-radius: @radius;
}

.BoxShadow(@longness){
  box-shadow: 3px 2px @longness #aaaaaa;
}


.app-bar .logo{
  color: @color1 !important;
}

//CARDS
#deleteIcon {
  margin-left: 90%;
  opacity: 0.5;
}

#currentSet {
  height: 30px;
  margin-top: 0px;
  margin-left: 5%;
}

.shadowCard{
  .RoundBorders(15px);
  .BoxShadow(5px);
}

.shadowCard h2 {
  text-align: center;
  cursor: pointer;
}

.bottomRow {
  margin-bottom: 13px;
}

#addSongStructure {
  margin-top: 20px;
  margin-bottom: 20px;
}

#savebtn {
  margin-top: 20px;
  margin-left: 90%;
}


//h2 {
//  margin-top: 0px !important;
//  padding-top: 0 !important;
//}


#progDisplay{
  word-spacing: 10px;
}

